SELECT --[PERIODNAME]
--      ,[PERNR]
      [REGION]
      ,[TITLE]
	  ,CASE WHEN [REGION] = 'CALIFORNIA REGION' THEN 'California'
			WHEN [REGION] = 'HOUSTON REGION' THEN 'Houston'
			WHEN [REGION] = 'MILE HIGH REGION' THEN 'Mountain West'
			WHEN [REGION] = 'MOUNTAIN REGION' THEN 'Mountain West'
			WHEN [REGION] = 'MOUNTAIN WEST REGION' THEN 'Mountain West'
			WHEN [REGION] = 'PORTLAND REGION' THEN 'Portland'
			WHEN [REGION] = 'SEATTLE REGION' THEN 'Seattle'
			WHEN [REGION] = 'TWIN CITIES REGION' THEN 'Twin Cities'
			WHEN [REGION] = 'WEST DIVISION CALL CENTER' THEN 'DSC'
			ELSE [REGION] END
		+ CASE WHEN [TITLE] = 'AFSM' THEN 'FSM'
				WHEN [TITLE] = 'BAE I' THEN 'BAE'
				WHEN [TITLE] = 'BAE II' THEN 'BAE'
				WHEN [TITLE] = 'Sr BAE' THEN 'BAE'
				WHEN [TITLE] = 'OBSRW' THEN 'Web'
				WHEN [TITLE] = 'OBSR' THEN 'Core'
				WHEN [TITLE] = 'RAE' THEN 'Retention'
				ELSE [TITLE] END AS CONCAT
      ,[SINGLE_PLAY_REVENUE] AS SP_REV
      ,[DOUBLE_PLAY_REVENUE] AS DP_REV
      ,[TRIPLE_PLAY_REVENUE] AS TP_REV
	  ,[SINGLE_PLAY_REVENUE] + [DOUBLE_PLAY_REVENUE] + [TRIPLE_PLAY_REVENUE] AS TOT_REV
      ,[SINGLE_PLAY_ORDERS] AS SP_ORD
      ,[DOUBLE_PLAY_ORDERS] AS DP_ORD
      ,[TRIPLE_PLAY_ORDERS] AS TP_ORD
	  ,[SINGLE_PLAY_ORDERS] + [DOUBLE_PLAY_ORDERS] + [TRIPLE_PLAY_ORDERS] AS TOT_ORD 
FROM [ExternalUser].[iCoMP].[PayeeExtract_SMB_VW]
WHERE [PERIODNAME] = 'AUGUST 2018' --UPDATE EVERY MONTH