SELECT CAST(FISCAL_MONTH_END AS DATE) AS MONTH
		,COUNT([PERNR]) AS CNT_PERNR
		,[TITLE_SAP]
		,LEFT([REGION],LEN([REGION])-7) AS REGION
		,ISNULL(SUM([DATA_SALES]),0) AS DATA_SALES
		,ISNULL(CASE WHEN [TENURE_BRACKET_SAP] = '-1 OR 0'  THEN '0-6'
				WHEN [TENURE_BRACKET_SAP] = '1-6' THEN '0-6'
				WHEN [TENURE_BRACKET_SAP] = 'Sr. BAEs' THEN
					CASE WHEN [SR_BAE_TENURE_BRACKET_SAP] = '-1 OR 0' THEN '0-6'
						ELSE [SR_BAE_TENURE_BRACKET_SAP] END
				ELSE [TENURE_BRACKET_SAP] END,
					CASE WHEN [TENURE_BRACKET] = '-1 OR 0'  THEN '0-6'
					WHEN [TENURE_BRACKET] = '1-6' THEN '0-6'
					WHEN [TENURE_BRACKET] = 'Sr. BAEs' THEN
						CASE WHEN [SR_BAE_TENURE_BRACKET] = '-1 OR 0' THEN '0-6'
							ELSE [SR_BAE_TENURE_BRACKET] END
					ELSE [TENURE_BRACKET] END) AS TENURE_BUCKET
FROM [RptCB].[Ext].[v_WSTSMBTenureAnalysis]
WHERE FISCAL_MONTH_START > '12/21/2015'
GROUP BY [REGION]
			,[FISCAL_MONTH_END]
			,[TITLE_SAP]
			,[TENURE_BRACKET_SAP]
			,[SR_BAE_TENURE_BRACKET_SAP]
			,[TENURE_BRACKET]
			,[SR_BAE_TENURE_BRACKET]
