SELECT D.[FISCAL_MONTH] + ' ' + CAST(D.[FISCAL_YEAR] AS varchar(4))  AS [PERIOD]
		,CAST(DOR.[Activity_Date] AS DATE) AS [Date]
		,D.[WEEKDAY]
		,LEFT(DOR.[Region_Name],LEN(DOR.[Region_Name])-7) AS [Region]
		,CASE WHEN DOR.[Product_Category] = 'BUSINESS INTERNET' AND DOR.[Product_Tier] NOT IN ('BUSINESS CLASS TELEWORKER DELUXE','BUSINESS CLASS TELEWORKER ENHANCED'
																						,'BUSINESS CLASS TELEWORKER PREMIUM','BUSINESS CLASS TELEWORKER STANDARD') THEN 'BCI'
				WHEN DOR.[Product_Tier] IN ('BUSINESS CLASS TELEWORKER DELUXE','BUSINESS CLASS TELEWORKER ENHANCED','BUSINESS CLASS TELEWORKER PREMIUM'
										,'BUSINESS CLASS TELEWORKER STANDARD') THEN 'Teleworker'
				WHEN DOR.[Product_Category] = 'ETHERNET' THEN 'EDI'
				WHEN DOR.[Product_Category] = 'ETHERNET PRIVATE NETWORK' THEN 'PN'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] IN ('BUSINESS VOICE FULL FEATURED LINE','SV FULL FEATURED LINE') THEN 'Total Voice'
				WHEN DOR.[Product_Category] IS NULL AND DOR.[Product_Tier] = 'BUSINESS VOICE FULL FEATURED LINE' THEN 'Total Voice'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'BUSINESS VOICE EDGE SELECT' THEN 'VES'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'BUSINESS VOICE EDGE' THEN 'BVE'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'PRI' THEN 'PRI'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'SIP TRUNKING' THEN 'SIP'
				WHEN DOR.[Product_Category] IN ('BUSINESS VIDEO PUBLIC','BUSINESS VIDEO PRIVATE') AND DOR.[Product_Tier] IS NOT NULL THEN 'Video'
				WHEN DOR.[Product_Category] IN ('SMART OFFICE','SMART OFFICE - ADD ON') THEN 'SmartOffice'
				WHEN DOR.[Product_Category] = 'BUSINESS INTERNET ADD ON' AND DOR.[Product_Tier] IN ('CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') THEN 'Connection Pro'
				WHEN DOR.[Product_Category] = 'BUSINESS INTERNET ADD ON' AND DOR.[Product_Tier] = 'SV WIFI PRO' THEN 'WiFi Pro'
				WHEN DOR.[Product_Category] = 'UNKNOWN' AND DOR.[Product_Tier] = 'LB WIFI PRO' THEN 'WiFi Pro'
				WHEN DOR.[Product_Category] = 'INTERNET SECURITY - COMMERCIAL' THEN 'SecurityEdge'
				ELSE NULL END AS [Product]
		,CASE WHEN DOR.[Activity_Type] = 'CONNECT' THEN 'Connects'
				WHEN DOR.[Activity_Type] = 'DISCONNECT' THEN 'Disconnects'
				ELSE NULL END AS [Activity]
		,CAST(SUM(DOR.[Activity_Count]) AS SMALLINT) AS [COUNT]
FROM [BusServ_DW].[SUBS].[DAILY_ACTIVITY_ACCOUNT_DETAILS] AS DOR
JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] AS D ON CAST(DOR.[ACTIVITY_DATE] AS DATE) = CAST(D.[DATE] AS DATE)
WHERE DOR.[Division_Name] = 'WEST DIVISION'
		AND CASE WHEN DOR.[Product_Category] = 'BUSINESS INTERNET' AND DOR.[Product_Tier] NOT IN ('BUSINESS CLASS TELEWORKER DELUXE','BUSINESS CLASS TELEWORKER ENHANCED'
																						,'BUSINESS CLASS TELEWORKER PREMIUM','BUSINESS CLASS TELEWORKER STANDARD') THEN 'BCI'
				WHEN DOR.[Product_Tier] IN ('BUSINESS CLASS TELEWORKER DELUXE','BUSINESS CLASS TELEWORKER ENHANCED','BUSINESS CLASS TELEWORKER PREMIUM'
										,'BUSINESS CLASS TELEWORKER STANDARD') THEN 'Teleworker'
				WHEN DOR.[Product_Category] = 'ETHERNET' THEN 'EDI'
				WHEN DOR.[Product_Category] = 'ETHERNET PRIVATE NETWORK' THEN 'PN'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] IN ('BUSINESS VOICE FULL FEATURED LINE','SV FULL FEATURED LINE') THEN 'Total Voice'
				WHEN DOR.[Product_Category] IS NULL AND DOR.[Product_Tier] = 'BUSINESS VOICE FULL FEATURED LINE' THEN 'Total Voice'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'BUSINESS VOICE EDGE SELECT' THEN 'VES'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'BUSINESS VOICE EDGE' THEN 'BVE'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'PRI' THEN 'PRI'
				WHEN DOR.[Product_Category] = 'BUSINESS VOICE' AND DOR.[Product_Tier] = 'SIP TRUNKING' THEN 'SIP'
				WHEN DOR.[Product_Category] IN ('BUSINESS VIDEO PUBLIC','BUSINESS VIDEO PRIVATE') AND DOR.[Product_Tier] IS NOT NULL THEN 'Video'
				WHEN DOR.[Product_Category] IN ('SMART OFFICE','SMART OFFICE - ADD ON') THEN 'SmartOffice'
				WHEN DOR.[Product_Category] = 'BUSINESS INTERNET ADD ON' AND DOR.[Product_Tier] IN ('CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') THEN 'Connection Pro'
				WHEN DOR.[Product_Category] = 'BUSINESS INTERNET ADD ON' AND DOR.[Product_Tier] = 'SV WIFI PRO' THEN 'WiFi Pro'
				WHEN DOR.[Product_Category] = 'UNKNOWN' AND DOR.[Product_Tier] = 'LB WIFI PRO' THEN 'WiFi Pro'
				WHEN DOR.[Product_Category] = 'INTERNET SECURITY - COMMERCIAL' THEN 'SecurityEdge'
				ELSE NULL END IS NOT NULL
GROUP BY D.[FISCAL_YEAR]
			,D.[FISCAL_MONTH]
			,DOR.[Activity_Date]
			,D.[WEEKDAY]
			,DOR.[Region_Name]
			,DOR.[Product_Category]
			,DOR.[Activity_Type]
			,DOR.[Product_Tier]
ORDER BY DOR.[Activity_Date]
			,DOR.[Product_Category]
			,DOR.[Activity_Type]
			,DOR.[Region_Name]