SELECT LEFT(CAM.[REGION_NAME],LEN(CAM.[REGION_NAME])-7) AS REGION
--		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS FISC_SALE_DATE
--		,CAST(CAM.[SALE_DATE] AS DATE) AS SALE_DATE
		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS CONNECT_MONTH
		,CAST('2018' AS INT) AS FISCAL_YR
--      ,CAST(CAM.[CONNECT_DATE] AS DATE) AS CONNECT_DATE
		,SUM(CAM.[DATA_INCREMENTAL_MRC]) AS DATA_INC_MRC
--      ,CAM.[FISCAL_PERIOD]
		,COUNT([FINAL_BI]) AS COUNT_UP
		,CAM.[TIER]
		,CAM.[POST_TIER]
FROM [SMB_Sales].[dbo].[CAM_SALES_2018] CAM
--	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T 
--		ON CAST(CAM.[SALE_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T
		ON CAST(CAM.[CONNECT_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
WHERE CAM.[REGION_NAME] IN ('CALIFORNIA REGION','HOUSTON REGION'
						,'MOUNTAIN WEST REGION','PORTLAND REGION'
						,'SEATTLE REGION','TWIN CITIES REGION')
		AND CAM.[FINAL_BI] = 'UP'
GROUP BY CAM.[REGION_NAME]
--			,CAM.[SALE_DATE]
--			,CAM.[CONNECT_DATE]
--			,CAM.[FISCAL_PERIOD]
			,T.[FISCAL_MONTH_END]
			,CAM.[TIER]
			,CAM.[POST_TIER]
--ORDER BY T.[FISCAL_MONTH_END]
------------------2018------------------
UNION ALL

SELECT LEFT(CAM.[REGION_NAME],LEN(CAM.[REGION_NAME])-7) AS REGION
		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS CONNECT_MONTH
		,CAST('2019' AS INT) AS FISCAL_YR
		,SUM(CAM.[DATA_INCREMENTAL_MRC]) AS DATA_INC_MRC
		,COUNT([FINAL_BI]) AS COUNT_UPG
		,CAM.[TIER]
		,CAM.[POST_TIER]
FROM [SMB_Sales].[dbo].[CAM_SALES_201901] CAM
	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T
		ON CAST(CAM.[CONNECT_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
WHERE CAM.[REGION_NAME] IN ('CALIFORNIA REGION','HOUSTON REGION'
						,'MOUNTAIN WEST REGION','PORTLAND REGION'
						,'SEATTLE REGION','TWIN CITIES REGION')
		AND CAM.[FINAL_BI] = 'UP'
GROUP BY CAM.[REGION_NAME]
			,T.[FISCAL_MONTH_END]
			,CAM.[TIER]
			,CAM.[POST_TIER]
------------------201901----------------
UNION ALL

SELECT LEFT(CAM.[REGION_NAME],LEN(CAM.[REGION_NAME])-7) AS REGION
		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS CONNECT_MONTH
		,CAST('2019' AS INT) AS FISCAL_YR
		,SUM(CAM.[DATA_INCREMENTAL_MRC]) AS DATA_INC_MRC
		,COUNT([FINAL_BI]) AS COUNT_UPG
		,CAM.[TIER]
		,CAM.[POST_TIER]
FROM [SMB_Sales].[dbo].[CAM_SALES_201902] CAM
	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T
		ON CAST(CAM.[CONNECT_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
WHERE CAM.[REGION_NAME] IN ('CALIFORNIA REGION','HOUSTON REGION'
						,'MOUNTAIN WEST REGION','PORTLAND REGION'
						,'SEATTLE REGION','TWIN CITIES REGION')
		AND CAM.[FINAL_BI] = 'UP'
GROUP BY CAM.[REGION_NAME]
			,T.[FISCAL_MONTH_END]
			,CAM.[TIER]
			,CAM.[POST_TIER]
------------------201902----------------
UNION ALL

SELECT LEFT(CAM.[REGION_NAME],LEN(CAM.[REGION_NAME])-7) AS REGION
		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS CONNECT_MONTH
		,CAST('2019' AS INT) AS FISCAL_YR
		,SUM(CAM.[DATA_INCREMENTAL_MRC]) AS DATA_INC_MRC
		,COUNT([FINAL_BI]) AS COUNT_UPG
		,CAM.[TIER]
		,CAM.[POST_TIER]
FROM [SMB_Sales].[dbo].[CAM_SALES_201903] CAM
	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T
		ON CAST(CAM.[CONNECT_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
WHERE CAM.[REGION_NAME] IN ('CALIFORNIA REGION','HOUSTON REGION'
						,'MOUNTAIN WEST REGION','PORTLAND REGION'
						,'SEATTLE REGION','TWIN CITIES REGION')
		AND CAM.[FINAL_BI] = 'UP'
GROUP BY CAM.[REGION_NAME]
			,T.[FISCAL_MONTH_END]
			,CAM.[TIER]
			,CAM.[POST_TIER]
------------------201903----------------
UNION ALL

SELECT LEFT(CAM.[REGION_NAME],LEN(CAM.[REGION_NAME])-7) AS REGION
		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS CONNECT_MONTH
		,CAST('2019' AS INT) AS FISCAL_YR
		,SUM(CAM.[DATA_INCREMENTAL_MRC]) AS DATA_INC_MRC
		,COUNT([FINAL_BI]) AS COUNT_UPG
		,CAM.[TIER]
		,CAM.[POST_TIER]
FROM [SMB_Sales].[dbo].[CAM_SALES_201904] CAM
	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T
		ON CAST(CAM.[CONNECT_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
WHERE CAM.[REGION_NAME] IN ('CALIFORNIA REGION','HOUSTON REGION'
						,'MOUNTAIN WEST REGION','PORTLAND REGION'
						,'SEATTLE REGION','TWIN CITIES REGION')
		AND CAM.[FINAL_BI] = 'UP'
GROUP BY CAM.[REGION_NAME]
			,T.[FISCAL_MONTH_END]
			,CAM.[TIER]
			,CAM.[POST_TIER]
------------------201904----------------
UNION ALL

SELECT LEFT(CAM.[REGION_NAME],LEN(CAM.[REGION_NAME])-7) AS REGION
		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS CONNECT_MONTH
		,CAST('2019' AS INT) AS FISCAL_YR
		,SUM(CAM.[DATA_INCREMENTAL_MRC]) AS DATA_INC_MRC
		,COUNT([FINAL_BI]) AS COUNT_UPG
		,CAM.[TIER]
		,CAM.[POST_TIER]
FROM [SMB_Sales].[dbo].[CAM_SALES_201905] CAM
	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T
		ON CAST(CAM.[CONNECT_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
WHERE CAM.[REGION_NAME] IN ('CALIFORNIA REGION','HOUSTON REGION'
						,'MOUNTAIN WEST REGION','PORTLAND REGION'
						,'SEATTLE REGION','TWIN CITIES REGION')
		AND CAM.[FINAL_BI] = 'UP'
GROUP BY CAM.[REGION_NAME]
			,T.[FISCAL_MONTH_END]
			,CAM.[TIER]
			,CAM.[POST_TIER]
------------------201905----------------
UNION ALL

SELECT LEFT(CAM.[REGION_NAME],LEN(CAM.[REGION_NAME])-7) AS REGION
		,CAST(CAST(T.[FISCAL_MONTH_END] AS DATETIME) AS DATE) AS CONNECT_MONTH
		,CAST('2019' AS INT) AS FISCAL_YR
		,SUM(CAM.[DATA_INCREMENTAL_MRC]) AS DATA_INC_MRC
		,COUNT([FINAL_BI]) AS COUNT_UPG
		,CAM.[TIER]
		,CAM.[POST_TIER]
FROM [SMB_Sales].[dbo].[CAM_SALES_201906] CAM
	JOIN [BusServ_DW_DEV].[dbo].[REF_TIME] T
		ON CAST(CAM.[CONNECT_DATE] AS DATE) = CAST(T.[DATE] AS DATE)
WHERE CAM.[REGION_NAME] IN ('CALIFORNIA REGION','HOUSTON REGION'
						,'MOUNTAIN WEST REGION','PORTLAND REGION'
						,'SEATTLE REGION','TWIN CITIES REGION')
		AND CAM.[FINAL_BI] = 'UP'
GROUP BY CAM.[REGION_NAME]
			,T.[FISCAL_MONTH_END]
			,CAM.[TIER]
			,CAM.[POST_TIER]
------------------201906----------------