/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [SYS_OOR]
      ,[PRIN_OOR]
      ,[AGNT_OOR]
      ,[BATCH_NO_OOR]
      ,[BILL_START_DTE_OOR]
      ,[BILL_STOP_DTE_OOR]
      ,[CAMP_CDE_OOR]
      ,[COMPL_CDE_OOR]
      ,[COMPL_DTE_OOR]
      ,[COMPL_TME_OOR]
      ,[CREATE_DTE_OOR]
      ,[CREATE_OP_ID_OOR]
      ,[CREATE_TERM_ID_OOR]
      ,[CREATE_TME_OOR]
      ,[CUSTOM_FIELD01_OOR]
      ,[CUSTOM_FIELD02_OOR]
      ,[CUSTOM_FIELD03_OOR]
      ,[CUSTOM_FIELD04_OOR]
      ,[CUSTOM_FIELD05_OOR]
      ,[CUSTOM_FIELD06_OOR]
      ,[CUSTOM_FIELD07_OOR]
      ,[CUSTOM_FIELD08_OOR]
      ,[CUSTOM_FIELD09_OOR]
      ,[CUSTOM_FIELD10_OOR]
      ,[CUSTOM_FIELD11_OOR]
      ,[CUSTOM_FIELD12_OOR]
      ,[CUST_ACCT_NO_OOR]
      ,[CUST_SEQ_NO_OOR]
      ,[CYC_ADD_DTE_OOR]
      ,[CYC_CDE_OOR]
      ,[CYC_CHG_DTE_OOR]
      ,[DEPOSIT_AMT_OOR]
      ,[DUE_DTE_OOR]
      ,[FOOTPRINT_RELOC_IND_OOR]
      ,[HSE_KEY_OOR]
      ,[JOB_COUNT_OOR]
      ,[LS_CHG_DTE_OOR]
      ,[LS_CHG_OP_ID_OOR]
      ,[LS_CHG_TERM_ID_OOR]
      ,[LS_CHG_TME_OOR]
      ,[MONTH_AMT_OOR]
      ,[MON_METHOD_ID_OOR]
      ,[MON_METHOD_TYP_OOR]
      ,[NOTE_CDE_OOR]
      ,[ORDER_NO_OOR]
      ,[ORD_CLASS_OOR]
      ,[ORD_COMMENTS_OOR]
      ,[ORD_METHOD_OOR]
      ,[ORD_NAME_OOR]
      ,[ORD_RSN_OOR]
      ,[ORD_SOURCE_OOR]
      ,[ORD_STAT_OOR]
      ,[OUT_PROD_TYP_LIST_OOR]
      ,[OUT_SERV_CDE_LIST_OOR]
      ,[POSTING_ACCT_OOR]
      ,[PREPMT_AMT_OOR]
      ,[REQUESTOR_OOR]
      ,[SALESREP_OOR]
      ,[SAL_CDE_OOR]
      ,[SOURCE_TYP_OOR]
      ,[VERSION_NO_OOR]
  FROM [ExternalUser].[Vantage].[OOR_ORDER_OPEN] --opi