SELECT CAST (CASE WHEN [CALL_DATE] = '2019-04-27' THEN '2019-04-26'
		WHEN [CALL_DATE] = '2019-04-28' THEN '2019-04-26'
		WHEN [CALL_DATE] = '2019-05-04' THEN '2019-05-03'
		WHEN [CALL_DATE] = '2019-05-05' THEN '2019-05-03'
		WHEN [CALL_DATE] = '2019-05-11' THEN '2019-05-10'
		WHEN [CALL_DATE] = '2019-05-12' THEN '2019-05-10'
		WHEN [CALL_DATE] = '2019-05-18' THEN '2019-05-17'
		WHEN [CALL_DATE] = '2019-05-19' THEN '2019-05-17'
		ELSE CALL_DATE END AS DATE) AS CALL_DATE --UPDATE EVERY MONTH
      ,[REGION]
      ,SUM([CALLS_HANDLED]) AS CALLS_HANDLED
	  ,SUM([CALLS_HANDLED] - [ECH_WARM_TRANSFERS] - [ECH_COLD_TRANSFERS]) AS QCALLS
FROM [RptCB].[Ext].[v_WSTRtbBigPictureCallsDaily]
WHERE CALL_DATE BETWEEN '04-22-2019' AND '05-21-2019'
	AND [CHANNEL] = 'INBOUND'
GROUP BY CALL_DATE
		,REGION
ORDER BY CALL_DATE DESC
		,REGION