SELECT CASE WHEN E.[REGION] = 'CALIFORNIA' THEN 'California'
			WHEN E.[REGION] = 'HOUSTON' THEN 'Houston'
			WHEN E.[REGION] = 'MOUNTAIN WEST' THEN 'Mountain West'
			WHEN E.[REGION] = 'PORTLAND' THEN 'Portland'
			WHEN E.[REGION] = 'SEATTLE' THEN 'Seattle'
			WHEN E.[REGION] = 'TWIN CITIES' THEN 'Twin Cities'
			WHEN E.[REGION] = 'WEST DIVISION' THEN 'West Division'
			ELSE NULL END AS [REGION]
	,CAST(E.[ORDER_COMPLETE_DTE] AS DATE) AS DATE
	,CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Data'
			WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Data'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('VOL','NOP') AND E.[DATA_SOURCE] = 'WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			ELSE NULL END AS [PROD]
	,CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Connect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Connect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='WODM' THEN 'Connect'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('VOL','NOP') AND E.[DATA_SOURCE] = 'WODM' THEN 'Disconnect'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			ELSE NULL END AS [ACTION]
	,SUM(E.[NET_QTY]) AS SUM
FROM [RptFin].[ext].[v_ExcelSummaryDOR_Comp60] AS E
WHERE E.[REGION] IN ('CALIFORNIA','HOUSTON','MOUNTAIN WEST','PORTLAND','SEATTLE','TWIN CITIES','WEST DIVISION')
	AND CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Data'
			WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Data'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('VOL','NOP') AND E.[DATA_SOURCE] = 'WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			ELSE NULL END IS NOT NULL
	AND E.[ORDER_COMPLETE_DTE] >= (SELECT D.[FISCAL_MONTH_START] FROM [WISDM].[Dim].[Date] AS D WHERE D.[DATE_ID] = CAST(GETDATE() AS DATE))
GROUP BY E.[REGION]
		,CAST(E.[ORDER_COMPLETE_DTE] AS DATE)
		,CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Data'
			WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Data'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('VOL','NOP') AND E.[DATA_SOURCE] = 'WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			ELSE NULL END
		,CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Connect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Connect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'UCBL' THEN 'Disconnect'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] ='WODM' THEN 'Connect'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('VOL','NOP') AND E.[DATA_SOURCE] = 'WODM' THEN 'Disconnect'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'CON' AND E.[DATA_SOURCE] = 'NDW' THEN 'Connect'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] = 'VOL' AND E.[DATA_SOURCE] = 'NDW' THEN 'Disconnect'
			ELSE NULL END

UNION ALL

SELECT CASE WHEN E.[REGION] = 'CALIFORNIA' THEN 'California'
			WHEN E.[REGION] = 'HOUSTON' THEN 'Houston'
			WHEN E.[REGION] = 'MOUNTAIN WEST' THEN 'Mountain West'
			WHEN E.[REGION] = 'PORTLAND' THEN 'Portland'
			WHEN E.[REGION] = 'SEATTLE' THEN 'Seattle'
			WHEN E.[REGION] = 'TWIN CITIES' THEN 'Twin Cities'
			WHEN E.[REGION] = 'WEST DIVISION' THEN 'West Division'
			ELSE NULL END AS [REGION]
	,CAST(E.[ORDER_COMPLETE_DTE] AS DATE) AS DATE
	,CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] ='NDW' THEN 'Data'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] ='NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('CON','VOL','NOP') AND E.[DATA_SOURCE] ='WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			ELSE NULL END AS [PROD]
	,'Net Add' AS ACTION
	,SUM(E.[NET_QTY]) AS SUM
FROM [RptFin].[ext].[v_ExcelSummaryDOR_Comp60] AS E
WHERE E.[REGION] IN ('CALIFORNIA','HOUSTON','MOUNTAIN WEST','PORTLAND','SEATTLE','TWIN CITIES','WEST DIVISION')
	AND CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] ='NDW' THEN 'Data'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] ='NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('CON','VOL','NOP') AND E.[DATA_SOURCE] ='WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			ELSE NULL END IS NOT NULL
	AND E.[ORDER_COMPLETE_DTE] >= (SELECT D.[FISCAL_MONTH_START] FROM [WISDM].[Dim].[Date] AS D WHERE D.[DATE_ID] = CAST(GETDATE() AS DATE))
GROUP BY E.[REGION]
		,CAST(E.[ORDER_COMPLETE_DTE] AS DATE)
		,CASE WHEN E.[PROD_NAME] IN ('BUSINESS INTERNET','BUSINESS CLASS ETHERNET - EDI') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] ='NDW' THEN 'Data'
			WHEN E.[PROD_NAME] = 'BUSINESS VOICE' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] ='NDW' THEN 'Voice'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PRIVATE' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] IN ('NDW','UCBL') THEN 'Video'
			WHEN E.[PROD_NAME] = 'BUSINESS VIDEO PUBLIC' AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'UCBL' THEN 'Video'
			WHEN E.[PROD_NAME] = 'SMART OFFICE - COMMERCIAL' AND E.[ORD_TYPE] IN ('CON','VOL','NOP') AND E.[DATA_SOURCE] ='WODM' THEN 'SmartOffice'
			WHEN E.[PROD_NAME] IN ('CONNECTION PRO SERVICE FEE - COMMERCIAL','SV CONNECTION PRO','CONNECTION PRO','CONNECTION PRO - SINGLEVIEW') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'Connection Pro'
			WHEN E.[PROD_NAME] IN ('SV WIFI PRO','LB WIFI PRO') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'WiFi Pro'
			WHEN E.[PROD_NAME] IN ('SECURITYEDGE - COMMERCIAL') AND E.[ORD_TYPE] IN ('CON','VOL') AND E.[DATA_SOURCE] = 'NDW' THEN 'SecurityEdge'
			ELSE NULL END