SELECT [sfid]
		,[fiscal_month]
		,[fiscal_year]
		,COALESCE([SPL_HANDLING_DIVISION],[Division]) AS DIVISION
		,COALESCE(LEFT([SPL_HANDLING_REGION],LEN([SPL_HANDLING_REGION])-7),LEFT([REGION],LEN([REGION])-7)) AS REGION
		,[Role]
		,[New Metro-E MRC]
		,[Upgrade MRC]
		,[Renewal Positive MRC]
		,[Renewal Negative MRC]
		,[Renewal Net MRC]
		,[UNI with MRC]
		,[Sites with MRC]
		,[Off-Net MRC]
		,[ACTIVECORE_MRC]
		,[ACTIVECORE_NRC]
		,[New Metro-E MRC] + [Upgrade MRC] + [Renewal Positive MRC] + [Renewal Negative MRC] AS 'Net MetroE'
--		,[ACTUAL_CLOSE_DATE]
--		,[actualclosedateid]
--		,[OPP_CREATEDATE]
--		,[CDDD]
--		,[UTIL_ME_HDEND]
--		,[Reporting_Region]
--		,[opp_owner]
--		,[PERNR]
--		,[Manager]
--		,[owner_role]
--		,[Title Role]
--		,[vertical]
--		,[ACCOUNT_NAME]
--		,[OPP_NAME]
--		,[stage]
--		,[Opportunity Type]
--		,[Change Request Type]
--		,[Metro E MRC]
--		,[New-Incremental MRC]
--		,[Hospitality-EDI MRC]
--		,[Total MRC]
--		,[ME_PRI_BC_MBCV_HOSP]
--		,[Metro-E Transport Type]
--		,[hosp_type]
--		,[prod_fam]
--		,[UNI]
--		,[Fiber UNI with MRC]
--		,[HFC UNI with MRC]
--		,[E-Rate UNI with MRC]
--		,[Carrier UNI with MRC]
--		,[WAE UNI with MRC]
--		,[Total Sites]
--		,[Hosp_Site_Count]
--		,[Fiber Sites with MRC]
--		,[HFC Sites with MRC]
--		,[E-Rate Sites with MRC]
--		,[Carrier Sites with MRC]
--		,[WAE Sites with MRC]
--		,[Hosp-EDI Sites with MRC]
--		,[Regional EVCs]
--		,[Continental EVCs]
--		,[WAE]
--		,[recordtype]
--		,[Month_Name]
--		,[BUS_DAY]
--		,[Bus_Day_Number]
--		,[Biz_Days_Complete]
--		,[Biz_Days_Remaining]
--		,[Biz_Days_Month]
--		,[Baseline]
--		,[Fiscal_Start]
--		,[Fiscal_end]
--		,[Term]
--		,[cancel_flag]
--		,[cancel_date]
--		,[id]
--		,[CANCEL_SFID]
--		,[supp_flag]
--		,[OFF_NET_NRC]
--		,[OFF_NET_QUOTED_COST_MRC]
--		,[OFF_NET_QUOTED_COST_NRC]
--		,[OFF_NET_SITE]
--		,[ON_NET_SITE]
--		,[OFF_NET_CAPEX]
--		,[METRO_E_NRC]
--		,[SDWAN_MRC]
--		,[CAPEX]
--		,[IRR]
--		,[MANUAL_CONFIGURATOR]
--		,[SPECIAL_PROJECT]
--		,[SALES_DIRECTOR]
--		,[REQUEST_DESCRIPTION]
--		,[ICB_STATUS]
--		,[Competitive_Data]
--		,[ICB_NAME]
--		,[TEAMMEMBER_NAME]
--		,[TEAMMEMBER_PERNR]
--		,[TEAMMEMBER_SALES_CHANNEL]
--		,[TEAMMEMBER_ROLE]
--		,[TEAMMEMBER_USER_TYPE]
--		,[TEAMMEMBER_MANAGER]
--		,[SPL_HANDLING_ETHERNET_REVENUE]
--		,[SPL_HANDLING_ADV_VOICE_REVENUE]
--		,[SPL_HANDLING_BC_REVENUE]
--		,[TEAMMEMBER_REGION]
--		,[TEAMMEMBER_DIVISION]
--		,[TeamMember_Teaming_Role]
--		,[TeamMember_Approved]
--		,[ACTIVECORE_TYPE]
FROM [BusServ_DW_DEV].[dbo].[METRO_E_SALESFLASH]
WHERE [actualclosedateid] >= (SELECT [FISCAL_MONTH_START]
								FROM [BusServ_DW].[dbo].[REF_TIME]
								WHERE CAST([DATE] AS DATE) = CAST(GETDATE() AS DATE))
	AND [TeamMember_Teaming_Role] IS NULL
	AND COALESCE([SPL_HANDLING_DIVISION],[Division]) = 'WEST'