/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [ID]
      ,[YMD]
      ,[DAY]
      ,[WEEKDAY]
      ,[MONTH]
      ,[YEAR]
      ,[FISCAL_WEEK]
      ,[FISCAL_MONTH_ID]
      ,[FISCAL_MONTH]
      ,[QUARTER]
      ,[QUARTER_ID]
      ,[FISCAL_YEAR]
      ,[DATE]
      ,[WEEK]
      ,[FISCAL_MONTH_START]
      ,[FISCAL_MONTH_END]
      ,[FISCAL_WEEK_START]
      ,[FISCAL_WEEK_END]
      ,[QUARTER_START]
      ,[QUARTER_END]
      ,[FISCAL_YEAR_START]
      ,[FISCAL_YEAR_END]
      ,[MONTH_START]
      ,[MONTH_END]
      ,[WEEK_START]
      ,[WEEK_END]
      ,[YEAR_START]
      ,[YEAR_END]
      ,[FISCAL_YYYYMM]
      ,[BUS_DAY_FLAG]
      ,[FISCAL_WEEK_RANGE]
      ,[BUS_DAY]
      ,[BUS_DAY_MTD]
      ,[CAL_MONTH]
      ,[CAL_YYYYMM]
  FROM [BusServ_DW_DEV].[dbo].[REF_TIME]