SELECT [SCHED_GROUP]
			,[WO_NUM]
			,[ACCT_NUM]
			,[WO_DETAIL_ID]
			,[WORK_ORDER_ID]
			,[CREATED_DATE]
			,[SCHED_DATE] -- COMPLETE DATE WHEN SCHED_GROUP = COMPLETED
			,[ACCOUNT_TN]
			,[SERVICE_PROVIDER_NAME]
			,[PROVIDER_ORDER_NUM]
			,[MIGRATION_IND]
			,[DIVISION]
			,[MARKET]
			,[SYSTEM]
			,[OFFICE]
			,[TN_COUNT]
FROM [ExternalUser].[CBS].[ALL_PORTOUTS_DATA]
WHERE [SCHED_GROUP] = 'COMPLETED'
		AND [SCHED_DATE] > '12-21-2016'
		AND [MIGRATION_IND] = 'P'